<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>

    </head>
    <body>
      <h1>Favorite Traveling Photos</h1>
      <ul>
        <li><img src='~/img/seattle.jpeg'/></li>
        <li><img src='~/img/bridge.jpg'/></li>
        <li><img src='~/img/forest.jpeg'/></li>
      </ul>
    </body>
  </html>
